* {
  margin:0;
  padding: 0;
  font-family: 'Nunito', 'sans-serif';
}

.wrapper {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width:800px;
}

.top-nav {
  height: 50px;
  width: 100%;
  background-color: #111;
  color: #fff;
  padding: 20px 0 0;
  text-align: center;
  position: fixed;
  top: 0;
  max-width:800px;
}

.color-white {
  color: #fff;
}

.nav {
  padding: 40px 0px 40px 0px;
  position: fixed;
  width: 100%;
  top: 50px;
  max-width: 800px;
  background-color: #fff;
  height: 0px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  left: 20px;
}

.right-nav {
margin-top: -35px;
}

.right-nav li { 
 display: inline;
 float: right;
 margin-right:20px;
 font-weight: bold;
 font-size: 25px; 
}

.center-h {
  text-align: center;
  font-size: 45px;
  margin-bottom: 145px;
  margin-top: 210px;
}

.arrow-down img {
  height: 30px;
  transform: rotate(90deg);
  margin: auto;
  display: block;
  margin-bottom: 45px;
}

.img1 img {
  width: 100%;
  max-width:800px;
}

.fomu { 
  padding: 30px 3px 55px 3px;
}

.fomu li:first-child {
  display: inline;
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}

.fomu li:last-child {
  width:30px;
  display: inline;
  float: right;
}

.img2 img{
  width: 100%;
  max-width:800px;
}

.img3 img {
  width: 100%;
  max-width:800px;
}

.gray-block {
  background-color: lightgray;
  padding: 35px 25px 55px 25px;
  margin-bottom: 50px;
}

.gray-block li{
  display: inline;
  }

.gray-block li:first-child {
  float: left;
  font-weight:bold;
}

.gray-block li:last-child {
  float: right;
  width: 30px;
}

.black-block {
  padding: 40px 0px 30px 0px;
  width: 800px;
  height:490px;
  background-color:#111;
  color:#fff;
  margin-bottom: 50px;
}

.black-block h2{
  font-size:50px;
  position: relative;
  left:25px;
}

.black-block li:first-child {
  display: inline;
  float: left;
  font-size:20px;
  position:relative;
  left: 25px;
}

.black-block li:last-child {
  display: inline;
  float: right;
  position: relative;
  right: 25px;
}

.black-block ul{
  margin-top: 320px;
}

.black-block {
  width: 100%;
  max-width:800px;
}

.black-block2 {
  padding: 40px 0px 30px 0px;
  height:360px;
  background-color:#111;
  color:#fff;
  width: 100%;
  max-width:800px;
}

.black-block2 h2{
  font-size:50px;
  position:relative;
  left: 25px;
}

.black-block2 li:first-child {
  display: inline;
  float: left;
  font-size:20px;
  position:relative;
  left:25px;
}

.black-block2 li:last-child {
  display: inline;
  float: right;
  position: relative;
  right: 25px;
}

.black-block2 ul{
  margin-top: 260px;
}

.policy{
  text-align:center;
  font-weight: bold;
}

.copy li {
  display: inline;
}

.copy li:first-child{
  float: left;
  font-weight: bold;
}

.copy li:last-child{
  float: right;
  font-weight: bold;
}

.copy li a{
  color: #111;
}